<section class="about-us-section">
    <div class="container about-us-container">
        <div class="about-us-first-div">
            <h2 class="about-us-title">About Us</h2>
            <ul>
                <li class="about-us-description">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable and stylish accessory on your wrist.</li>
                <li class="about-us-description">At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece that reflects your personality and style. So why settle for anything less than the best? </li>
            </ul>
            <a class="about-us-btn" href="#catalog">View catalog</a>
        </div>
        <div class="about-us-second-div">
            <picture class="about-us-picture">
                    <source media="(min-width: 1280px)" srcset="/images/about_1x-min.jpg 1x, /images/about_2x-min.jpg 2x" type="image/jpg">
                    <source media="(min-width: 768px)" srcset="/images/about-tabl_1x-min.jpg 1x, /images/about-tabl_2x-min.jpg 2x" type="image/jpg">
                    <source media="(max-width: 767px)" srcset="/images/about-mob_1x-min.jpg 1x, /images/about-mob_2x-min.jpg 2x" type="image/jpg">
                    <img src="/images/about-mob_1x-min.jpg" alt="Image Of a WristWatch" loading="lazy">
            </picture>
        </div>
    </div>
</section>