<footer id="footer">
    <div class="footer-container">
        <div class="footer-header">watchcharm</div>
        <div class="footer-social-icons">
            <a href="#"><svg class="icon"><use
                        xlink:href="#icon-facebook"></use></svg> </a>
            <a href="#"><svg class="icon"><use
                        xlink:href="#icon-instagram"></use></svg> </a>
            <a href="#"><svg class="icon"><use
                        xlink:href="#icon-youtube"></use></svg> </a>
        </div>
        <div class="footer-phone-number">+380 (68) 443-94-26</div>
        <div class="footer-description">Have the time of your life with our
            watches: where high-class craftsmanship meets impeccable
            design</div>
        <div class="footer-menu">
            <div class="footer-menu-item">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">Sale</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-address">
                1678 S. Pioneer Road<br>
                Salt Lake City, UT 84104
            </div>
        </div>
        <div class="footer-trademark">©2023 The Watch Spot. All rights
            reserved.</div>
        <div class="footer-policies">
            <a href="#">Terms of Service</a><a
                href="#">Privacy
                Policy</a>
        </div>
    </div>
</footer>