<header class="header" id="header">
    <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html">watchcharm</a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item nav-link-page">
            <a class="nav-link" href="./index.html">Home</a></li> 
        <li class="header-navigation-item"><a class="nav-link" href="#about-us">About Us</a></li> 
        <li class="header-navigation-item"><a class="nav-link" href="#">Catalog</a></li> 
        <li class="header-navigation-item"><a class="nav-link" href="#">Sale</a></li> 
        <li class="header-navigation-item"><a class="nav-link" href="#">Reviews</a></li> 
        <li class="header-navigation-item"><a class="nav-link" href="#">Contact Us</a></li> 
      </ul>
      <div class="header-social-block">
        <ul class="header-icon-list">
          <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
            <use href="/images/icons.svg#icon-facebook"></use>
          </svg></a></li>
          <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
            <use href="/images/icons.svg#icon-instagram"></use>
          </svg></a></li>
          <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
            <use href="../images/icons.svg#icon-youtube"></use>
          </svg></a></li>
        </ul>
      </div>
    </nav>
      <button class="open-menu-btn" type="button"><svg class="open-menu-icon" width="28" height="28">
        <use href="/images/icons.svg#icon-menu"></use>
      </svg></button>
  </div>

  
  <!-- Menu-box -->

  <div class="header-box-menu is-open">
    
    <button type="button" class="menu-close"><svg width="34" height="34" class="icon-btn"><use href="/images/icons.svg#icon-x"></use></svg></button>

    <ul class="header-navigation-list">
      <li class="header-navigation-item">
        <span class="nav-link-page"><a class="header-nav-link" href="./index.html">Home</a></span></li> 
      <li class="header-navigation-item"><a class="header-nav-link" href="">About Us</a></li> 
      <li class="header-navigation-item"><a class="header-nav-link" href="">Catalog</a></li> 
      <li class="header-navigation-item"><a class="header-nav-link" href="">Sale</a></li> 
      <li class="header-navigation-item"><a class="header-nav-link" href="">Reviews</a></li> 
      <li class="header-navigation-item"><a class="header-nav-link" href="">Contact Us</a></li> 
    </ul>
  </nav>
  <div class="header-social-block">
      <ul class="header-icon-list">
        <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
          <use href="/images/icons.svg#icon-facebook"></use>
        </svg></a></li>
        <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
          <use href="/images/icons.svg#icon-instagram"></use>
        </svg></a></li>
        <li class="header-icon-items" ><a class="header-icon-link" href="" target="_blank" rel="noopener no-referrer" ><svg width="36" height="36" class="header-icons-social">
          <use href="../images/icons.svg#icon-youtube"></use>
        </svg></a></li>
      </ul>
    </div></div>

  </header>




  
