<header class="header" id="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a class="header-logo" aria-label="go to home page" href="./index.html">watchcharm</a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item nav-link-page">
          <a class="nav-link" aria-label="go to home page" href="./index.html">Home</a>
        </li>
        <li class="header-navigation-item">
          <a class="nav-link" aria-label="go to about us section" href="#about-us">About Us</a>
        </li>
        <li class="header-navigation-item">
          <a class="nav-link" aria-label="go to catalog section" href="#catalog">Catalog</a>
        </li>
        <li class="header-navigation-item">
          <a class="nav-link" aria-label="go to sale section" href="#sale">Sale</a>
        </li>
        <li class="header-navigation-item">
          <a class="nav-link" aria-label="go to reviews section" href="#reviews">Reviews</a>
        </li>
        <li class="header-navigation-item">
          <a class="nav-link" aria-label="go to contact us section" href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <div class="header-social-block">
        <ul class="header-icon-list">
          <li class="header-icon-items">
            <a
              class="header-icon-link"
              aria-label="go to facebook"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener no-referrer"
              ><svg width="20" height="20" class="header-icons-social">
                <use href="/images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="header-icon-items">
            <a
              class="header-icon-link"
              aria-label="go to instagram"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener no-referrer"
              ><svg width="20" height="20" class="header-icons-social">
                <use href="/images/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="header-icon-items">
            <a
              class="header-icon-link"
              aria-label="go to youtube"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener no-referrer"
              ><svg width="20" height="20" class="header-icons-social">
                <use href="/images/icons.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="open-menu-btn" aria-label="open menu now" type="button">
      <svg class="open-menu-icon" width="28" height="28">
        <use href="/images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- Menu-box -->

  <div class="header-box-menu header-box-menu-img">
    <button type="button" aria-label="close menu now" class="menu-close">
      <svg width="17" height="17" class="icon-btn">
        <use href="/images/icons.svg#icon-x"></use>
      </svg>
    </button>

    <div class="nav-box-menu">
      <nav class="nav-mob-menu">
        <ul class="header-navigation-list-mob">
          <li class="header-navigation-item-mob">
            <span class="nav-link-page-mob"
              ><a class="header-nav-link-mob" aria-label="go to home page" href="./index.html">Home</a></span
            >
          </li>
          <li class="header-navigation-item-mob">
            <a class="header-nav-link-mob" aria-label="go to about us section" href="#about-us">About Us</a>
          </li>
          <li class="header-navigation-item-mob">
            <a class="header-nav-link-mob" aria-label="go to catalog section" href="#catalog">Catalog</a>
          </li>
          <li class="header-navigation-item-mob">
            <a class="header-nav-link-mob" aria-label="go to sale section" href="#sale">Sale</a>
          </li>
          <li class="header-navigation-item-mob">
            <a class="header-nav-link-mob" aria-label="go to reviews section" href="#reviews">Reviews</a>
          </li>
          <li class="header-navigation-item-mob">
            <a class="header-nav-link-mob" aria-label="go to contact us section" href="#contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-social-block-mob">
      <ul class="header-icon-list-mob">
        <li class="header-icon-items-mob">
          <a
            class="header-icon-link-mob"
            aria-label="go to facebook"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener no-referrer"
            ><svg width="20" height="20" class="header-icons-social-mob">
              <use href="/images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="header-icon-items-mob">
          <a
            class="header-icon-link-mob"
            aria-label="go to instagram"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener no-referrer"
            ><svg width="20" height="20" class="header-icons-social-mob">
              <use href="/images/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="header-icon-items-mob">
          <a
            class="header-icon-link-mob"
            aria-label="go to youtube"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener no-referrer"
            ><svg width="20" height="20" class="header-icons-social-mob">
              <use href="/images/icons.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
