<section id="hero">
    <div class="container hero-container">
        <div class="hero-text-box">
            <h1 class="hero-title">Welcome to our <span>collection</span> of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-btn-box">
            <div class="hero-img-box">
                <picture class="hero-img-wrap">
                    <source srcset="/img/client-img1-mob_1x-min.jpg 1x, /img/client-img1-mob_2x-min.jpg 2x" media="(min-width: 375px)">
                    <source srcset="/img/client-img1-tabl_1x-min.jpg 1x, /img/client-img1-tabl_2x-min.jpg 2x" media="(min-width: 768px)">
                    <source srcset="/img/client-img1_1x-min.jpg 1x, /img/client-img1_2x-min.jpg 2x" media="(min-width: 1280px)">
                    <img src="/imgclient-img1-mob_1x-min.jpg" alt="client woman" class="hero-circles-img">
                </picture>
                <picture class="hero-img-wrap">
                    <source srcset="/img/client-img2-mob_1x-min.jpg 1x, /img/client-img2-mob_2x-min.jpg 2x" media="(min-width: 375px)">
                    <source srcset="/img/client-img2-tabl_1x-min.jpg 1x, /img/client-img2-tabl_2x-min.jpg 2x" media="(min-width: 768px)">
                    <source srcset="/img/client-img2_1x-min.jpg 1x, /img/client-img2_2x-min.jpg 2x" media="(min-width: 1280px)">
                    <img src="/img/client-img2-mob_1x-min.jpg" alt="client man in glasses" class="hero-circles-img">
                </picture>
                <picture class="hero-img-wrap">
                    <source srcset="/img/client-img3-mob_1x-min.jpg 1x, /img/client-img3-mob_2x-min.jpg 2x" media="(min-width: 375px)">
                    <source srcset="/img/client-img3-tabl_1x-min.jpg 1x, /img/client-img3-tabl_2x-min.jpg 2x" media="(min-width: 768px)">
                    <source srcset="/img/client-img3_1x-min.jpg 1x, /img/client-img3_2x-min.jpg 2x" media="(min-width: 1280px)">
                    <img src="/img/client-img3-mob_1x-min.jpg" alt="client woman in glasses" class="hero-circles-img">
                </picture>
            </div>
            <a href="#footer" class="hero-link">Scroll down</a>
        </div>
        <picture class="hero-content-box">
            <source srcset="/img/banner-mob_1x-min.jpg 1x, /img/banner-mob_2x-min.jpg 2x" media="(min-width: 375px)">
            <source srcset="/img/banner-tabl_1x-min.jpg 1x, /img/banner-tabl_2x-min.jpg 2x" media="(min-width: 768px)">
            <source srcset="/img/banner_1x-min.jpg 1x, /img/banner_2x-min.jpg 2x" media="(min-width: 1280px)">
            <img src="/img/banner-mob_1x-min.jpg" alt="black watch on a gray background" class="hero-content-img">
        </picture>
    </div>