<section class="reviews">
    <div class="container">
    <h2 class="reviews-section-title">Reviews </h2>
    <ul class="reviews-list">
        <li class="reviews-list-item">
            
            <img srcset="/images/review-img1-mob_1x-min.jpg 1x,
                         /images/review-img1-mob_2x-min.jpg 2x" 
                         src="/images/review-img1-mob_1x-min.jpg" width="56" alt="John Wax">
            
            <h3 class="reviews-title">John Wax</h3>
            <p class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
        </li>
        <li class="reviews-list-item">
            <img srcset="/images/review-img2-tabl_1x-min.jpg 1x,
                         /images/review-img2-tabl_2x-min 2x"
                 src="/images/review-img2-tabl_1x-min.jpg" width="56" alt="Victoria Romashenko">
            <h3 class="reviews-title">Victoria Romashenko</h3>
            <p class="reviews-text">
                Can't take my eyes off my watch from. 
                Every time I put it on, it is admired by those around 
                me. The build quality and attention to detail make it a real gem among my accessories.</p>
        </li>
        <li class="reviews-list-item">
            <img srcset="/images/review-img3_1x-min.jpg 1x,
                         /images/review-img3_2x-min 2x"
                 src="/images/review-img3_1x-min.jpg" width="56" alt="Anastasia Trachuk">
            <h3 class="reviews-title">Victoria Romashenko</h3>
            <p class="reviews-text">
                Can't take my eyes off my watch from. 
                Every time I put it on, it is admired by those around 
                me. The build quality and attention to detail make it a real gem among my accessories.</p>
        </li>
    </ul>
</div>
</section>