<section class="container sale-container">
  <h2 class="sale-title">Sale</h2>
  <div class="sale-title-container">
    <ul class="sale-image">
      <li class="sale-item">
        <picture>
          <source
            srcset="/images/sale-img2-mob_2x-min.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /images/sale-img2-tabl_1x-min.png 1x,
              /images/sale-img2-tabl_2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/sale-img2_1x-min.png 2x,
              /images/sale-img2_2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="/images/sale-img2-mob_1x-min.png" alt="Wristwatch" />
        </picture>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="/images/sale-img3-mob_2x-min.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /images/sale-img3-tabl_1x-min.png 1x,
              /images/sale-img3-tabl_2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/sale-img3_1x-min.png 1x,
              /images/sale-img3_2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="/images/sale-img3-mob_1x-min.png" alt="Wristwatch" />
        </picture>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="/images/sale-img4-mob_2x-min.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /images/sale-img4-tabl_1x-min.png 1x,
              /images/sale-img4-tabl_2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/sale-img4_1x-min.png 1x,
              /images/sale-img4_2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="/images/sale-img4-mob_1x-min.png" alt="Wristwatch" />
        </picture>
      </li>
      <li class="sale-item">
        <picture>
          <source
            srcset="/images/sale-img5-mob_2x-min.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /images/sale-img5-tabl_1x-min.png 1x,
              /images/sale-img5-tabl_2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/sale-img5_1x-min.png 1x,
              /images/sale-img5_2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img src="/images/sale-img5-mob_1x-min.png" alt="Wristwatch" />
        </picture>
      </li>
    </ul>
    <picture>
      <source
        srcset="/images/sale-img1-mob_2x-min.png 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          /images/sale-img1-tabl_1x-min.png 1x,
          /images/sale-img1-tabl_2x-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /images/sale-img1_1x-min.png 1x,
          /images/sale-img1_2x-min.png 2x
        "
        media="(min-width: 1280px)"
      />
      <img
        class="sale-img-wrist"
        src="/images/sale-img1-mob_1x-min.png"
        alt=""
      />
    </picture>
    <div class="container-sale">
      <div class="container-sale-objects">
        <p class="sale-text">MARQ&#174; Commander (Gen 2) - Carbon Edition</p>
        <p class="sale-paragraph">Product tag: 706587</p>
        <div class="sale-price-wrist">
          <p class="sale-price">&#8364;1500</p>
          <p class="sale-price-discount">&#8364;3000</p>
        </div>
        <p class="sale-information">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-advant">
          <li class="sale-advent-item">Fused carbon fiber</li>
          <li class="sale-advent-item">Grade-5 Titanuim</li>
          <li class="sale-advent-item">Athlete</li>
          <li class="sale-advent-item">Golfer</li>
          <li class="sale-advent-item">Commander</li>
          <li class="sale-advent-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
