body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  background-color: #fbfbfb;
  color: #0c0c0c;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 312px;
  max-width: 367px;
}

section {
  padding-bottom: 60px;
}

button:focus,
a:focus {
  outline: dotted 2px rgb(115, 115, 115);
}

address {
  font-style: normal;
}

@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  section {
    padding-bottom: 80px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
    padding-left: 15px;
    padding-right: 15px;
  }
  section {
    padding-bottom: 100px;
  }
}
