/* mob */


    .header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16;
    padding-right: 16;
    border-bottom: 1px solid rgba(12, 12, 12, 0.1); 
}
    

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header-logo{
    font-family:  "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color:  #0c0c0c;
}

.open-menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent ;
    width: 34px;
    height: 34px;
}
.open-menu-icon{
    stroke: #0c0c0c;
}

.header-navigation-list {
    display: none;
}

.header-icon-list {
    display: none;
}

/* Mob-menu */
body {
    position: relative;
}
.header-box-menu{
    
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    width: 200px;
    height: 100%;
    background-color: #0c0c0c;
    padding: 40px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: right 300ms ease,
    opacity 800ms cubic-bezier(0.2, 0.3, 0, 0.6), visibility 300ms cubic-bezier(0.2, 0.3, 0, 0.6);

}
.header-box-menu-img{
    background-image: url(/images/header-boxmenu-1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    .header-box-menu-img{
        background-image: url(/images/header-boxmenu-2x.png);
    }
}


.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    right: 0;
}

.nav-box-menu{
    margin-bottom: auto;
    margin-top: auto;
}

.header-navigation-list-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-navigation-item-mob {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb; 

}

    .menu-close {
        border: none;
        background-color: transparent;
        width: 34px;
        height: 34px;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    .icon-btn {
        stroke: #fbfbfb;
    }

.header-icon-list-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-icon-items-mob {
border: 1px solid rgba(251, 251, 251, 0.1);
border-radius: 10px;
padding: 8px;
width: 34px;
height: 34px;
}

.header-icons-social-mob {
    fill: #fbfbfb;
}

.nav-link-mob::after {
    content: '';
    left: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 100%;
    transform: translateX(-50%);
    border: solid 5px #3350E9;
    bottom: 25px;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
}
.header-navigation-item-mob:hover .nav-link-mob::after,
.nav-link-mob:focus::after{
    opacity: 1;
}
.header-icons-social-mob {
    transition: fill 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
}
.header-icon-link-mob:focus .header-icons-social-mob,
.header-icon-items-mob:hover .header-icons-social-mob
 {
fill:#3350e9;
}

/* Tab */


@media (min-width:768px) 
{

.header{
    padding-top: 26px;
    padding-bottom: 26px;
}

.header-logo{
    font-size: 20px;
    width: 112px;
    height: 24px;
}

.header-container{

}
.open-menu-btn{
width: 40px;
height: 40px;
}

.header-box-menu{
    width: 330px;
    padding: 50px 100px;

}
.menu-close{
    width: 40px;
    height: 40px;
}
.header-navigation-list-mob{
    gap: 32px;
}
.icon-btn{
    width: 24px;
    height: 24px;
}
.header-box-menu-img{
    background-image: url(/images/header-tabmenu-1x.png);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    .header-box-menu-img{
        background-image: url(/images/header-tabmenu-2x.png);
    }}

}


/* Desk */

    @media (min-width:1280px) {
        .header
        {
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 15px;
            padding-right: 15px ;
        }
        
        .header-container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .header-navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

        }

        .header-navigation-item{
            padding-top: 30px;
            padding-bottom: 40px;
        }


        .header-logo{
            font-size: 20px;
        }


        .header-social-block {
        display: flex;
        }
        
        .open-menu-btn{
            display: none;
        }

        .header-navigation-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .nav-link {
            font-family: "Gilroy", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 129%;
            text-align: center;
            color:  #0c0c0c;
        }

        .nav-link:hover{

        }

        .nav-link:focus{

        }
        .header-navigation-item{
            position: relative;
            transition: opacity 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
        }
       
        .nav-link::after {
            content: '';
            left: 50%;
            height: 8px;
            width: 8px;
            position: absolute;
            border-radius: 100%;
            transform: translateX(-50%);
            border: solid 5px #3350E9;
            bottom: 25px;
            opacity: 0;
            transition: opacity 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
        }
        .header-navigation-item:hover .nav-link::after,
        .nav-link:focus::after{
            opacity: 1;
        }
        .header-icons-social {
            transition: fill 300ms cubic-bezier(0.2, 0.3, 0, 0.6);
        }
        .header-icon-link:focus .header-icons-social,
        .header-icon-items:hover .header-icons-social
         {
        fill:#3350e9;
        }
        
        
        .header-icon-list {
            display: flex;
            align-items: center;
            gap: 10px;
        }


        .header-icon-link {
            display: flex;
            border: 1px solid rgba(12, 12, 12, 0.1);
            border-radius: 10px;
            padding: 8px;
        
        }
    }


    